@import '../../../style/mixins.scss';

.ava__container {
    position: relative;
    height: 0px;
    width: 48px;
    padding-top: 48px;
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}