@import '../../../style/mixins.scss';

.expandable{
    &__wrapper {
        position: relative;
        h3 {
            line-height: 1.5rem;
        }
        
        .expandable__list-box {
            position: absolute;
            width: 100%;
            top: 66px;
            left: 0;
            display: none;
            z-index: 999;
            background-color: #ffffff;
        }
        &:hover,
        &:focus {
            @include expand;
            .expandable__list-box {
                display: block;
            }
        }
    }
    &__wrapper-needs {
        padding-top: 48px;
    }
    &__title {
        @include flex($align: start);
        width: 256px;
        i {
            line-height: 17px;
        }
    }
    &__title .active {
        i {
            transform: rotate(180deg);
        }
    }
    &__list-box {
        padding-top: 9px;
    }
    &__list-item {
        @include flex($justify: start);
        padding: 5px 0;
        line-height: 1.5rem;
    }
}
