@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.input__text-box {
    .active {
        @include input-active();
    }
}

.input__field {
    border: 1px solid $DarkShade50;
    color: $DarkShade50;
    border-radius: 4px;
    padding: 13px 15px;
    width: 100%;
    transition: $transition;
    outline: none;
    cursor: auto;
    &::placeholder {
        @include placeholder-input;
        color: $DarkShade25;
        transition: $transition;
        // &:focus, 
        // &:hover {
        //     color: $DarkShade75;
        // }
    }
    &:focus, 
    &:hover {
        @include input-active();
    }
}

form {
    position: relative;
    max-width: 320px;
    margin: 0;
    .input__text-box {
        position: relative;
        @include flex;
        color: $DarkShade50;
        h3 {
            margin-bottom: 5px;
        }
        span {
            text-transform: uppercase;
            color: $DarkShade50;
            line-height: 0;
            font-size: 1.2rem;
        }
    }
    .material-icons {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: $DarkShade75;
    }
    .arrow_forward {
        color: $DarkShade75;
    }
}

.form-elem__email-subscribe {
    .arrow_forward {
        @include gradient-icon;
    }
}

.input__text-box {
    h3 {
        margin-bottom: 5px;
    }
}

.input__wrapper {
    width: 100%;
}
