@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.input__field .active {
    @include input-active();
}    

.input__field {
    border: 1px solid $DarkShade25;
    color: $DarkShade25;
    border-radius: 4px;
    padding: 13px 15px;
    width: 100%;
    transition: $transition;
    outline: none;
    cursor: auto;
    &::placeholder {
        @include placeholder-input;
        color: $DarkShade25;
        transition: $transition;
    }
    &:focus, 
    &:hover {
        @include input-active();
    }
}

form {
    position: relative;
    width: 320px;
    margin: 0;
    .input__text-box {
        @include flex;
        padding-bottom: 5px;
        color: $DarkShade25;
        h3 {
            display: inline;
            padding-bottom: 5px;
        }
        span {
            text-transform: uppercase;
            color: $DarkShade25;
            line-height: 0;
            font-size: 1.2rem;
        }
    }
    .material-icons {
        position: absolute;
        right: 10px;
        bottom: 14px;
        color: $DarkShade50;
    }
    .arrow_forward {
        @include gradient-icon;
    }


}
