include ../../mixins/main_mixins.pug

block content 
    header
        .header-container
            include ../logo/colored_logo.pug
            i(class="material-icons md-24 menu_icon") menu
            .header__right
                ul.menu__list.hidden__menu
                    +menu-item('О нас', false, "active")
                    +menu-item('Услуги', "expand_more")
                    +menu-item('Вакансии')
                    +menu-item('Новости')
                    +menu-item('Соглашения', "expand_more")
                .log-container
                    +button-round('войти', fill = false, bordered = true)
                    +button-round('зарегистрироваться', fill = true)
