@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.range {
    &__textbox {
        @include flex;
        max-width: 266px;
        h3 {
            display: inline;
            padding: 0;
        }
        .range__result-text {
            color: $DarkShade50;
            line-height: 0;
            font-size: 1.2rem;
        }
    }
}

.range__wrapper {
    max-width: 266px;
    padding: 22.44px 0 40.56px 0;
    * {
        box-sizing: border-box;
        outline: none;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    .ui-slider {
        position: relative;
        height: 6px;
        border-radius:3px;
        transition: $transition;
        border: 1px solid $DarkShade25;

        .ui-slider-handle {
            @include gradient($secondary-color, $primary-lightblue);
            @include cursor-style;
            position: absolute;
            top: -5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin: 0px 0px 0 -15px;
            z-index: 2;
        }
        .ui-slider-handle:hover,
        .ui-slider-handle:focus {
            transform: scale(1.1);
        }

        .ui-slider-range {
            @include gradient($secondary-color, $primary-lightblue);
            position: absolute;
            top: -1;
            margin: 0 0 0 -15px;
            z-index: 1;
            height: 6px;
            border-radius:3px;
        }
    }
}