extend ../main.pug

block variables

include ../mixins/color_type_mixins.pug
include ../mixins/main_mixins.pug

block prepend scripts
  script(src= '../../../node_modules/jquery/dist/jquery.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")

block append scripts
  script(src='./range.js')


block content
    link(rel="stylesheet" href="../ui_kit/form_elem/dist/form_elem.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    main.form-elem__wrapper
        .form-elem__inputs-wrapper
            +input("Text Field", "default", "Email")
            +input("Text Field", "hover/focus", "This is pretty awesome", "", "active")
            +input("Dropdown", "", "Сколько гостей", "expand_more")
            +input("masked text field", "", "ДД.ММ.ГГГГ")
            .form-elem__date-dropdown
                +input("date Dropdown", "", "ДД.ММ.ГГГГ", "expand_more")
                +input("date Dropdown", "", "19.08.2019", "expand_more")
            +input("filter date dropdown", "", "19 авг - 23 авг", "expand_more")
            +input("subscription text field", "", "Email", "arrow_forward") <!--TODO icon style-->
        .form-elem__checkbox-wrapper
            h3 Checkbox Buttons
            +checkbox("Можно курить", "smoking")
            +checkbox("Можно с питомцами", "pets", true)
            +checkbox("Можно пригласить гостей (до 10 человек)", "guest", true)

            h3 radio button
            form.radio__wrapper
                +radio-btn("Мужчина", "man", true)
                +radio-btn("Женщина", "women")

            h3 toggle
            form.toggle__wrapper(action="")
                +toggle("Получать спецпредложения", true)
                +toggle("Получать спецпредложения")

            h3 like button 
            .like__wrapper
                +like("favorite_border", "2", "like__without")
                +like("favorite", "12", "like__with")

            h3 rate button
            .rate__wrapper
                +rate("rate1",2)
                +rate("rate2",1)

        .form-elem__button-wrapper   
            +range-slider("Range Slider")

        section.dropdown-section
            .form-elem__dropdown-wrapper
                +input("dropdown", "default", "2 спальни, 2 кровати...", "expand_more")
                +input("dropdown", "expanded", "2 спальни, 2 кровати...", "expand_more", "active")
                .form-elem__dropdown
                    +dropdown_extend_unit("спальни", "2")
                    +dropdown_extend_unit("кровати", "2")
                    +dropdown_extend_unit("ванные комнаты", "0")

            .form-elem__dropdown-wrapper
                +input("dropdown", "", "Сколько гостей", "expand_more", "active")
                .form-elem__dropdown
                    +dropdown_extend_unit("взрослые", "0")
                    +dropdown_extend_unit("дети", "0")
                    +dropdown_extend_unit("младенцы", "0")
                    +input-action

            .form-elem__dropdown-wrapper
                +input("dropdown", "", "3 гостя", "expand_more", "active")
                .form-elem__dropdown
                    +dropdown_extend_unit("взрослые", "2")
                    +dropdown_extend_unit("дети", "1")
                    +dropdown_extend_unit("младенцы", "0")
                    +input-action
                
