//color

$DarkShade100: #1F2041;
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.5);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade5: rgba(31, 32, 65, 0.05);

$primary-color: #BC9CFF;
$primary-color-opacity: rgba(188,156,255,0.5);
$secondary-color: #6FCF97;
$primary-lightblue: #66D2EA;
$primary-blue: #8BA4F9;
$primary-blue-opacity: rgba(139,164,249,0.5);

//other

$transition: 0.4s;
