extend ../../../main.pug

include ../../../mixins/color_type_mixins.pug
include ../../../mixins/main_mixins.pug

block content
    main.header-and-footer-wrapper
        include ../../../components/header/header.pug
        include ../../../components/header/header_auth.pug
        include ../../../components/footer/footer.pug
        include ../../../components/footer/footer_sm.pug
