@import '../../../../style/style.scss';
@import '../../../../style/const.scss';
@import '../../../../style/mixins';

body {
    max-width: 100%;
    background-color: $colored-back;
}

.header-and-footer-wrapper {
    @include flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 1350px;
    padding: 140px 0;
}
