@import '../../../../style/const.scss';
@import '../../../../style/mixins';

body {
    max-width: 100%;
    background-color: $colored-back;
}

.header-and-footer-wrapper {
    @include flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 140px 0;
    .header__auth-wrap {
        margin: 40px 0;
    }

    .footer__full-wrap {
        margin: 0 0 40px;
    }
}
