extend ../../../main.pug

block variables

include ../../../mixins/color_type_mixins.pug
include ../../../mixins/main_mixins.pug

block content
    link(rel="stylesheet" href="../src/pug/components/dist/colored_logo.css")
    link(rel="stylesheet" href="../src/pug/pages/ui_kit/headers_and_footers/dist/headers_and_footers.css")
    link(rel="stylesheet" href="../src/style/dist/style.css")
    link(rel="stylesheet" href="../src/pug/components/dist/header.css")
    link(rel="stylesheet" href="../src/pug/components/dist/footer.css")
    link(rel="stylesheet" href="../src/pug/pages/ui_kit/form_elem/dist/form_elem.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    main.header-and-footer-wrapper
        include ../../../components/header.pug
        include ../../../components/footer.pug