@import '../../../style/mixins.scss';

.form-elem__buttons-container {
    padding-top: 5px;
}

.button{
    &__wrapper {
        @include flex;
        max-width: 218px;
        height: 149px;
    }
    &__fill {
        @include gradient;
        @include btn-rounded;
        border: none;
        position: relative;
        &:hover {
            opacity: 50%;
        }
        i {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #ffffff;
        }
    }

    &__bordered-box {
        @include btn-rounded($padding: 2px);
        @include gradient;
        box-sizing: border-box;
        max-width: 250px;
        position: relative;
        &:hover {
            opacity: 50%;
        }
    }
    &__bordered {
        min-width: 95px;
        @include btn-rounded($padding: 0px 15px 1px 17px);
        background: #fff;
        color: $primary-color;

    }
    &__text-box {
        @include flex($justify: start);
        padding: 15px 0;
    }
    &__text {
        @include cursor-style;
        border: none;
        background-color: transparent;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0 18px 0 0;
        transition: $transition;
        &:hover{
            color: $DarkShade50;
        }
    }
    &__pay {
        width: 320px;
        height: 44px;
        margin: 8px 0 0 0;
        position: relative;
            i {
                position: absolute;
                right: 10px;
                top: 10px;
                color: #ffffff;
            }
    }
}

.button__fill-active {
    opacity: 50%;
}

.button__bordered-box-active {
    opacity: 50%;
}

.button__text-active {
    color: $DarkShade50;
}
