include ../../mixins/main_mixins.pug

block append scripts
    +script('../src/jquery/ui_min.js')
    +script('../src/jquery/ui_touch.js')
    +script('../src/jquery/jquery.simplePagination.js')
    +script('../src/pug/components/buttons/pagination.js', "module")


    #light-pagination
