@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.form-elem__pagination-container {
    padding-top: 40px;
    .simple-pagination {
        padding: 15px 5px 5px 0;
    }
    p {
        color: $DarkShade75;
        padding: 3px 0 0 6px;
    }
}

.light-theme {
    li {
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center;
    }
    .active {
        span {
            color: #fff;
            font-weight: 700;
        }
        &::after {
            @include gradient;
            @include circle ($width: 40px, $height: 40px);
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
    li:first-child {
        display: none;
    }
    li:last-child{ 
        &::after {
            @include gradient($secondary-color, $primary-lightblue);
            @include circle ($width: 40px, $height: 40px);
            top: 0;
            right: 0;
            z-index: -1;
        }
        a {
            background-color: transparent;
            i {
                color: #fff;
                line-height: 40px;
            }
        }
    }
}

.light-theme a,
.light-theme span {
    border: none;
    box-shadow: none;
    text-decoration: none;
    line-height: 40px;
    &:hover {
        padding: 0;
        box-shadow: none;
    }
}
.light-theme .current {
    display: block;
    text-align: center;
    padding: 0;
    box-shadow: none;
    border: none;
}

.next {
    i {
        color: #fff;
        line-height: 40px;
    }
} 

.light-theme .current .prev{
    display: none;
}

.list-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 15px 0 118px;
    max-width: 1095px;
}