@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.form-elem__checkbox-wrapper {
    .form-elem {
        &__radio-container {
            padding-bottom: 36px;
        }
    }
}
.form-elem {
    &__custom-radio {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 50%;
            }
        }
        &:checked + label::after {
            @include circle;
            @include gradient;
            left: 4px;
          }
        &:checked ~ span{
            color: $DarkShade75;
        }
    }
}

.radio__wrapper {
    @include flex;
    max-width: 220px!important;
}

.radio__box {
    @include flex($justify: start, $wrap: nowrap);
    position: relative;
    span {
        padding-left: 10px;
    }
}