block content
    .colored-logo__wrapper
        .colored-logo__image
            img(src ="../src/assets/icons/colored_logo.svg")
        .colored-logo__text
            img(src ="../src/assets/icons/toxin.svg")