@import '../../../../style/const.scss';
@import '../../../../style/mixins';
@import '../../../../style/style';

body {
    background-color: $colored-back;
}

.cards__main-wrapper {
    @include container($padding: 150px 140px 140px);
    @include flex($align: start);
}

.calendar__wrapper {
    .form-elem__action {
        padding: 0 20px 18px;
    }
}

@media (max-width: 700px) {
    .cards__main-wrapper {
        @include container($padding: 150px 30px 140px);
    }
}

@media (max-width: 380px) {
    .cards__main-wrapper {
        @include flex;
        padding: 150px 0 140px;

        .card__column {
            width: 100%;
            > div {
                @include flex($justify: center);
                box-shadow: none;
            }
            .cards__with-plugin {
                display: block;
            }
        }
        .search-room__wrapper {
            width: 100%;
            padding: 40px 10px 27px;
            > div {
                width: 100%;
            }
        }
    }

}
