extend ../../../main.pug

block variables

include ../../../mixins/color_type_mixins.pug
include ../../../mixins/cards_mixins.pug
include ../../../mixins/main_mixins.pug

block append scripts
    +script("../node_modules/air-datepicker/dist/js/datepicker.min.js")
    +script("../src/pug/components/datepicker/datepicker.js", "module")
    +script("../src/pug/components/number_cards/number_cards.js")

block content
    main
        .card__column
            include ../../../components/form_elem/search_room.pug
            include ../../../components/form_elem/create_account.pug
        .card__column
            include ../../../components/form_elem/book_room.pug
            include ../../../components/form_elem/log_in.pug
        .card__column
            +calendar("card-calendar")
            +card("888", "9990", "../src/assets/img/number_880.png", 145, true, true, 1)
            +card("840", "9990", "../src/assets/img/number_840.jpg", 65, false, false, 2)
