extend ../../../website_main.pug
block variables

include ../../../mixins/color_type_mixins.pug
include ../../../mixins/cards_mixins.pug
include ../../../mixins/main_mixins.pug

block append scripts
    +script("../node_modules/air-datepicker/dist/js/datepicker.min.js")
    +script("../src/pug/components/datepicker/datepicker.js")

block content
    include ../../../components/header/header.pug
    main.landing-page__main
        img(src="../src/assets/img/landing_photo.png" class = "landing-page__photo", alt="photo")
        p.landing-page__img-line Лучшие номера для вашей работы, отдыха и просто вдохновения
        include ../../../components/form_elem/search_room.pug

    include ../../../components/footer/footer.pug
