@import '../../../../style/const.scss';

.landing-page__main {
    position: relative;
    .landing-page__photo {
        width: 100%;
    }
}

.search-room__wrapper {
    position: absolute;
    top: 140px;
    left: 140px;
}

.landing-page__img-line {
    position: absolute;
    bottom: 18px;
    right: 140px;
    max-width: 297px;
    color: $DarkShade75;
}
