@import '../../../style/const.scss';
@import '../../../style/style.scss';
@import '../../../style/mixins';

.kit-main {
    @include flex;
}

// input

.form-elem__wrapper {
    @include flex($align: flex-start);
    padding: 163px 141px 131px;
    form .active {
        @include input-active();
    }
    form {
        position: relative;
        width: 320px;
        padding-bottom: 19.56px;
        .input__text-box {
            @include flex;
            padding-bottom: 5px;
            color: $DarkShade25;
            h3 {
                display: inline;
            }
            span {
                text-transform: uppercase;
                color: $DarkShade25;
            }
        }
        .material-icons {
            position: absolute;
            right: 10px;
            bottom: 30px;
            color: $DarkShade50;
        }
    }
    .form-elem__date-dropdown {
        @include flex;
        width: 320px;
        h3 {
            display: inline;
        }
        form {
            width: 150px;
        }
    }

    .input__field .active {
        @include input-active();
    }

    .input__field {
        border: 1px solid $DarkShade25;
        border-radius: 4px;
        padding: 13px 15px;
        width: 100%;
        transition: $transition;
        outline: none;
        &::placeholder {
            color: $DarkShade25;
            transition: $transition;
            
        }
        &:focus, 
        &:hover {
            @include input-active();
        }
    }
}

// dropdown

.form-elem {
    &__dropdown-wrapper{
        width: 320px;
        transition: $transition;
        form > input {
            border-radius:4px 4px 0 0 ;
        }
        &:hover, 
        &:focus,
        &:active {
            box-shadow: 0px 10px 20px $DarkShade5;
        }
    }
    &__dropdown-unit{
        @include flex;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 0;
        h3 {
            display: inline;
        }
    }
    &__dropdown{
        padding: 0 7px 13px 15px;
        border: 1px solid $DarkShade50;
        border-radius: 0 0 4px 4px;
    }
    &__change-box {
        @include flex;
        width: 92px;
        .circle {
            @include cursor-style;
            height: 30px;
            width: 30px;
            line-height: 30px;
            border-radius: 50%;
            border:1px solid $DarkShade25;
            text-align: center;
          }
        .change-number {
            font-size: 1.8rem;
            color: $DarkShade25;
        }
    }
    &__action {
        @include flex;
        padding-top: 12px;
        h3 {
            color: $primary-color;
        }
    }
}

.dropdown-section {
    @include flex($align: flex-start);
    width: 100%;
}

// checkbox

.form-elem{
    &__checkbox-wrapper {
        h3 {
            padding-bottom: 16.56px;
        }
        .checkbox {
            &__box {
                @include flex($justify: start, $wrap: nowrap);
                padding-bottom: 10px;
                max-width: 220px;
                span {
                    line-height: 1.8rem;
                    padding-left: 9.74px;
                }
            }
        }
    }
    &__custom-checkbox {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        &:checked+label::before {
            background-image: url("../../../../assets/icons/check.svg");
          }
    }


}

// radio

.form-elem {
    &__custom-radio {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 50%;
            }
        }
        &:checked+label::after {
            @include circle;
            @include gradient;
            left: 4px;
          }
    }
}

.radio__wrapper {
    @include flex;
    width: 220px!important;
}

.radio__box {
    @include flex($justify: start, $wrap: nowrap);
    position: relative;
    span {
        padding-left: 10px;
    }
}

// like 

.like {
    &__wrapper {
        @include flex;
        width: 90px;
    }
    &__box {
        @include flex($justify: space-around);
        @include cursor-style;
        position: relative;
        width: 40px;
        height: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background: #fff;
        background-clip: padding-box;
        border: solid 1px transparent;
        &:before {
            // @include gradient;
            content: '';
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
          }
        i {
            color: $primary-color;
            font-size: 1rem;
        }
        span {
            font-size: 1rem;
            line-height: 0;
        }
    }
    &__with {
        &:before {
            @include gradient;
          }
    }
    
    &__without {
        &:before {
            background: $DarkShade25;
            }
    }
}

.toggle__box {
    @include flex($justify: start);
    width: 260px;
    padding-bottom: 10px;
    input[type="checkbox"] {
        position: relative;
        width: 40px;
        height: 20px;
        margin: 0;
        margin-right: 10px;
        -webkit-appearance: none;
        box-sizing: border-box;
        border: 1px solid $DarkShade25;
        border-radius: 10px;
        transition: $transition;
        outline: none;
        &::before {
            @include circle;
            background: $DarkShade25;
            top: 3px;
            left: 3px;
        }
    }
    input:checked[type="checkbox"] {
        border: 1px solid $primary-color;
        &::before {
            @include gradient;
            left: 22px;
        }
    }
}

// rate 
.rate__wrapper {
    @include flex;
    max-width: 260px;
}
.rate__box {
    @include flex;
    width: 120px;
    transform: rotateY(180deg);
    input {
    display: none;
    &:checked ~ label::after{
        opacity: 1;
    }
    }
    label {
        position: relative;
        display: block;
        background: #fff;
        width: 24px;
        height: 24px;
        &::before {
            content: 'star_outline';
            position: relative;
            font-family: 'Material Icons';
            font-size: 2.4rem;
            @include gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &::after{
            content: 'star';
            position: absolute;
            left: 0;
            font-family: 'Material Icons';
            font-size: 2.4rem;
            @include gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: $transition;
        }

        &:hover::after {
            opacity: 1;
            @include cursor-style;
        }
    }
    label:hover ~ label::after {
        opacity: 1;
    }
}
