@import '../../../style/const.scss';
@import '../../../style/style.scss';
@import '../../../style/mixins';

.kit-main {
    @include flex;
}

// input

.form-elem__wrapper {
    @include flex($align: flex-start);
    padding: 144px 141px 131px;
    form .active {
        @include input-active();
        border-radius: 4px 4px 0 0 ;
    }
    form {
        position: relative;
        width: 320px;
        padding-bottom: 19.56px;
        margin: 0;
        .input__text-box {
            @include flex;
            padding-bottom: 5px;
            color: $DarkShade25;
            h3 {
                display: inline;
            }
            span {
                text-transform: uppercase;
                color: $DarkShade25;
                line-height: 0;
                font-size: 1.2rem;
            }
        }
        .material-icons {
            position: absolute;
            right: 10px;
            bottom: 30px;
            color: $DarkShade50;
        }
        .arrow_forward {
            @include gradient-icon;
        }
    }
    .form-elem__date-dropdown {
        @include flex;
        width: 320px;
        padding: 25px 0 20px 0;
        h3 {
            display: inline;
        }
        form {
            width: 150px;
        }
    }
    .form-elem {
        &__small {
            position: relative;
            width: 266px;
            form {
                width: 100%;
                padding: 20px 0;
            }
            .form-elem__dropdown {
                width: 100%;
            }
        }
    }

    .form-elem__input-simple {
        form {
            padding-bottom: 20px;
        }
    }

    .input__field .active {
        @include input-active();
    }    

    .input__field {
        border: 1px solid $DarkShade25;
        border-radius: 4px;
        padding: 13px 15px;
        width: 100%;
        transition: $transition;
        outline: none;
        &::placeholder {
            @include placeholder-input;
            color: $DarkShade25;
            transition: $transition;
        }
        &:focus, 
        &:hover {
            @include input-active();
        }
    }
}

// dropdown

.form-elem {
    &__dropdown-container{
        .form-elem__small:first-child {
            form {
                padding-top: 0;

            }
        }
    }
    &__dropdown-wrapper{
        position: relative;
        // width: 320px;
        height: 221.5px;
        transition: $transition;
        form > input {
            border-radius:4px 4px 0 0 ;
        }
        &:hover, 
        &:focus,
        &:active {
            @include expand;
        }
    }
    &__dropdown-middle {
        margin: 0 0 0 110px;
    }
    &__dropdown-unit{
        @include flex;
        width: 100%;
        box-sizing: border-box;
        padding: 6px 0 0;
        h3 {
            display: inline;
        }
    }
    &__dropdown{
        padding: 0 7px 4px 15px;
        border: 1px solid $DarkShade50;
        border-top: none;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 62px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: $box-shadow;
    }
    &__change-box {
        @include flex;
        width: 92px;
        .circle {
            @include cursor-style;
            height: 30px;
            width: 30px;
            line-height: 30px;
            border-radius: 50%;
            border:1px solid $DarkShade25;
            text-align: center;
          }
        .change-number {
            font-size: 1.8rem;
            color: $DarkShade25;
        }
    }
    &__action {
        @include flex;
        padding: 17px 0 9px;
        h3 {
            color: $primary-color;
        }
    }
}

.dropdown-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 64px 0 0 0;
}

// checkbox

.form-elem{
    &__checkbox-wrapper {
        padding-left: 53px;
        & > div {
            padding-bottom: 30px;
        }
        h3 {
            padding-bottom: 16.56px;
        }
        .checkbox {
            &__box {
                @include flex($justify: start, $wrap: nowrap, $align: flex-start);
                padding-bottom: 11px;
                max-width: 222px;
                &:last-child {
                    padding-bottom: 0;
                }
                span {
                    line-height: 1.8rem;
                }
            }
        }
    }
    &__custom-checkbox {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            padding-right: 9.74px;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        &:checked+label::before {
            border: 1px solid $primary-color;
            background-image: url("../../../../assets/icons/check.svg");
          }
    }


}

// radio

.form-elem {
    &__radio-container {
        margin-top: 10px;
    }
    &__custom-radio {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 50%;
            }
        }
        &:checked+label::after {
            @include circle;
            @include gradient;
            left: 4px;
          }
    }
}

.radio__wrapper {
    @include flex;
    width: 220px!important;
    padding-bottom: 0!important;
}

.radio__box {
    @include flex($justify: start, $wrap: nowrap);
    position: relative;
    // margin-top: -5px;
    span {
        padding-left: 10px;
    }
}

// like 

.like {
    &__wrapper {
        @include flex;
        width: 90px;
    }
    &__box {
        @include flex($justify: space-around, $wrap: nowrap);
        @include cursor-style;
        position: relative;
        min-width: 40px;
        height: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background: #fff;
        background-clip: padding-box;
        border: solid 1px transparent;
        &:before {
            // @include gradient;
            content: '';
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
          }
        span {
            font-size: 1rem;
            line-height: 0;
        }
    }

    &__with {
        &:before {
            @include gradient;
          }
        i {
        color: $primary-color;
        font-size: 1rem;
        }
    }
    
    &__without {
        &:before {
            background: $DarkShade25;
            }
        i {
            color: $DarkShade25;
            font-size: 1rem;
        }
    }
}

.form-elem__toggle-container {
    padding-top: 7px;
    .toggle__wrapper {
        padding-bottom: 0;
    }
}

.toggle__box {
    @include flex($justify: start);
    width: 260px;
    padding-bottom: 10px;
    input[type="checkbox"] {
        position: relative;
        width: 40px;
        height: 20px;
        margin: 0;
        margin-right: 10px;
        -webkit-appearance: none;
        box-sizing: border-box;
        border: 1px solid $DarkShade25;
        border-radius: 10px;
        transition: $transition;
        outline: none;
        &::before {
            @include circle;
            background: $DarkShade25;
            top: 3px;
            left: 3px;
        }
    }
    input:checked[type="checkbox"] {
        border: 1px solid $primary-color;
        &::before {
            @include gradient;
            left: 22px;
        }
    }
}

// rate 
.form-elem__rate-container {
    padding-top: 10px;
}
.rate__wrapper {
    @include flex;
    max-width: 260px;
}
.rate__box {
    @include flex;
    width: 120px;
    transform: rotateY(180deg);
    input {
    display: none;
    &:checked ~ label::after{
        opacity: 1;
        }
    }
    label {
        position: relative;
        display: block;
        background: #fff;
        width: 24px;
        height: 24px;
        &::before {
            content: 'star_outline';
            position: relative;
            font-family: 'Material Icons';
            font-size: 2.4rem;
            @include gradient;
            -webkit-background-clip: text;
            color: transparent;
        }
        &::after{
            content: 'star';
            position: absolute;
            left: 0;
            font-family: 'Material Icons';
            font-size: 2.4rem;
            @include gradient;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            transition: $transition;
        }

        &:hover::after {
            opacity: 1;
            @include cursor-style;
        }
    }
    label:hover ~ label::after {
        opacity: 1;
    }
}

.form-elem__button-wrapper {
    min-width: 320px;
}

// range slider

.range {
    &__textbox {
        @include flex;
        max-width: 266px;
        h3 {
            display: inline;
            padding: 0;
        }
        .range__result-text {
            color: $DarkShade50;
            line-height: 0;
            font-size: 1.2rem;
        }
    }
}

.range__wrapper {
    max-width: 266px;
    padding: 22.44px 0 40.56px 0;
    * {
        box-sizing: border-box;
        outline: none;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    .ui-slider {
        position: relative;
        height: 6px;
        border-radius:3px;
        transition: $transition;
        .ui-slider-handle {
            @include gradient($secondary-color, $primary-lightblue);
            @include cursor-style;
            position: absolute;
            top: -5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin: 0px 0px 0 -15px;
            z-index: 2;
        }
        .ui-slider-handle:hover,
        .ui-slider-handle:focus {
            transform: scale(1.1);
        }

        .ui-slider-range {
            @include gradient($secondary-color, $primary-lightblue);
            position: absolute;
            top: -1;
            margin: 0 0 0 -15px;
            z-index: 1;
            height: 6px;
            border-radius:3px;
        }
    }
}

// button

.form-elem__buttons-container {
    padding-top: 5px;
}

.button{
    &__wrapper {
        @include flex;
        max-width: 218px;
        height: 149px;
    }
    &__fill {
        @include gradient;
        @include btn-rounded;
        border: none;
        &:hover {
            opacity: 50%;
        }
    }
    &__bordered {
        @include btn-rounded($padding: 2px 17px);
        position: relative;
        color: $primary-color;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid transparent;
        &::before {
            @include gradient-border($margin: -2px);
            @include gradient;
            transition: $transition;
        }
        &:hover {
            color:  $primary-color-opacity;
            &::before {
                @include gradient($color1: $primary-color-opacity, $color2: $primary-blue-opacity);
            }
        }
    }
    &__text-box {
        @include flex($justify: start);
        padding: 15px 0;
    }
    &__text {
        @include cursor-style;
        border: none;
        background-color: transparent;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        padding: 0 18px 0 0;
        transition: $transition;
        &:hover{
            color: $DarkShade50;
        }
    }
    &__pay {
        width: 320px;
        height: 44px;
        margin: 17px 0 0 0;
        position: relative;
            i {
                position: absolute;
                right: 10px;
                top: 10px;
            }
    }

}

.button__fill-active {
    opacity: 50%;
}

.button__bordered-active {
    color:  $primary-color-opacity;
    &::before {
        @include gradient($color1: $primary-color-opacity, $color2: $primary-blue-opacity);
    }
}

.button__text-active {
    color: $DarkShade50;
}

// pagination

.form-elem__pagination-container {
    padding-top: 40px;
    .simple-pagination {
        padding: 15px 5px 5px 0;
    }
    p {
        color: $DarkShade75;
        padding: 3px 0 0 6px;
    }
}

.light-theme {
    li {
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center;
    }
    .active {
        span {
            color: #fff;
            font-weight: 700;
        }
        &::after {
            @include gradient;
            @include circle ($width: 40px, $height: 40px);
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
    li:first-child {
        display: none;
    }
    li:last-child{ 
        &::after {
            @include gradient($secondary-color, $primary-lightblue);
            @include circle ($width: 40px, $height: 40px);
            top: 0;
            right: 0;
            z-index: -1;
        }
        a {
            background-color: transparent;
            i {
                color: #fff;
                line-height: 40px;
            }
        }
    }
}

.light-theme a,
.light-theme span {
    border: none;
    box-shadow: none;
    text-decoration: none;
    line-height: 40px;
    &:hover {
        padding: 0;
        box-shadow: none;
    }
}
.light-theme .current {
    display: block;
    text-align: center;
    padding: 0;
    box-shadow: none;
    border: none;
}

.next {
    i {
        color: #fff;
        line-height: 40px;
    }
} 

.light-theme .current .prev{
    display: none;
}

.list-section {
    @include flex($align: flex-start);
    width: 100%;
    padding-top: 15px;
    max-width: 1095px;
}

// expandable

.expandable{
    &__wrapper {
        h3 {
            display: inline;
            line-height: 1.5rem;
        }
        &:hover,
        &:focus {
            @include expand;
        }
    }
    &__wrapper-needs {
        padding-top: 48px;
    }
    &__title {
        @include flex($align: start);
        width: 256px;
        i {
            line-height: 17px;
        }
    }
    &__title .active {
        i {
            transform: rotate(180deg);
        }
    }
    &__list-box {
        padding-top: 9px;
    }
    &__list-item {
        @include flex($justify: start);
        padding: 5px 0;
        line-height: 1.5rem;
    }
}

// rich 

.rich-list {
    &__wrapper {
        width: 255px;
        padding-left: 52px;
    }
    &__box {
        padding-top: 15px;
    }
    &__item {
        @include flex($align: flex-start, $wrap: nowrap);
        padding: 0 0 10px 0;
    }
    &__text-box {
        span {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
    &__title {
        font-weight: 700;
        color: $DarkShade75;
    }
}

// bullet

.bullet-list{
    &___wrapper {
        max-width: 255px;
        ul {
            padding: 0 0 0 20px;
            margin: 10px 0 0 0;
        }
    }
    &__item{
        position: relative;
        list-style: none;
        padding: 5px 0;
        &:before {
            @include circle($width: 10px, $height: 10px);
            background-color: $DarkShade25;
            top: 11px;
            left: -19px;
        }
    }
}

.benefits-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 97px 0 0 0;
}

.benefits {
    &__wrapper {
        padding-bottom: 30px;
    }
    &__box {
        @include flex($justify: start);
        width: 291px;
        padding:0 0 21px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        &:nth-child(n+2) {
            padding:20px 0 17px;
        }
        p {
            width: 100%;
            font-weight: 700;
        }
        i {
            @include gradient;
            -webkit-background-clip: text;
            color: transparent;
            width: 48px;
            font-size: 4.8rem;
            height: 100%;
            text-align: center;
            padding-right: 10px;
        }
    }
}

//response 

.response {
    &__wrapper {
        max-width: 711px;
    }
    &__user-textbox {
        @include flex($justify: start, $align: flex-start, $wrap: nowrap);
        padding: 8px 0 0 3px;
        p {
            padding-left: 14.3px;
        }
    }
    &__user-box {
        @include flex($justify: start, $wrap: nowrap);
        height: 51px;
        padding: 10px 0 0 0;
    }
    &__user-info {
        padding-left: 10px;
        p {
            font-weight: 700;
        }
    }
}

// photo center

.ava__container {
    position: relative;
    height: 0px;
    width: 48px;
    padding-top: 48px;
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
