@import '../../style/mixins';

.colored-logo{
    &__wrapper {
        @include flex;
        min-width: 106px;
        height: 40px;
        .colored-logo__text {
            margin-right: auto;
        }
    }
}
