include ../mixins/main_mixins.pug

block append scripts
  script(src='../src/pug/components/header.js')

mixin menu-item(title, icon = false, className = "")
    li.menu__list-box
        a(href="/#" class ="menu__list-item"+ " " + className + "")= title
        if icon 
            i(class="material-icons md-24" + " "+ icon+ "")= icon

block content 
    header
        .header-container
            include ./colored_logo.pug
            .header__right
                ul.menu__list
                    +menu-item("О нас", false, "active")
                    +menu-item("Услуги", "expand_more")
                    +menu-item("Вакансии")
                    +menu-item("Новости")
                    +menu-item("Соглашения", "expand_more")
                .log-container
                    +button-round("войти", fill = false, bordered = true)
                    +button-round("зарегистрироваться", fill = true)
    header 
        .header-container
            include ./colored_logo.pug
            .header__right
                ul.menu__list
                    +menu-item("О нас", false, "active")
                    +menu-item("Услуги", "expand_more")
                    +menu-item("Вакансии")
                    +menu-item("Новости")
                    +menu-item("Соглашения", "expand_more")
                .auth-container
                    p Юлий Цезарь
