@import '../../style/mixins';
// @import '../../style/const.scss';
// @import '../../style/style.scss';
// @import '../components/buttons/buttons.scss';

header {
    box-shadow: $box-shadow;
    width: 100%;
    height: 70px;
    background-color: #fff;
}

.header-container {
    @include flex;
    width: calc(100% - 280px);
    height: 100%;
    margin: 0 auto;
}

.header__right {
    @include flex;
}

.menu {
    &__list {
        @include flex;
        width: 447px;
    }
    &__list-box {
        @include flex;
        list-style: none;
        transition: $transition;
        &:hover,.active {
            font-weight: 700;
            color: $DarkShade75;
        }
    }
}

.log-container {
    @include flex;
    height: 34px;
    margin-left: 20px;
    button {
        height: 100%;
        &:first-child {
            padding: 0 10px;
            line-height: 0;
            min-width: 83px;
        }
    }
    .button__bordered-box {
        height: 100%;
    }
    .button__fill {
        padding: 0px 20px;
        margin-left: 20px;
        line-height: 0;
    }
}

.auth-container {
    border-left: 1px solid $DarkShade25;
    padding-left: 20px;
    margin: 0 0 0 20px;
}
