block variables

block basicSeo

block title
        title UI kit

include mixins/main_mixins.pug

block prepend scripts
  script(src= "../node_modules/jquery/dist/jquery.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")

block append scripts
  
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        +links("../src/style/const.scss")
        +links("../src/style/mixins.scss")
        +links("../src/style/style.scss")

    body
        block content

block scripts
+script("//code.jquery.com/jquery-1.11.0.min.js")
+script("//code.jquery.com/jquery-migrate-1.2.1.min.js")
+script("../src/slick-1.8.1/slick/slick.min.js")
