include ./main_mixins.pug

mixin card-up-info (card_number, price, lux = false)
    -let priceLocal = price.toLocaleString('ru') + '₽';

    .card__up-info
        p
            span.card__number-sign №&nbsp;
            span.card__number= card_number
            if lux
                span.card__lux люкс
        p
            span.card__price= priceLocal
            span &nbsp;в сутки

mixin card(card_number,price, path, response_quantity, arrows = false, lux = false, rate_points = 0)
    if arrows
        .card__wrapper
            .card__img-slider-arr
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
            if arrows
                i(class="material-icons md-24 card__left-arr ") expand_more
                i(class="material-icons md-24 card__right-arr ") expand_more
            .card__info-box
                .card__up-info
                    +card-up-info(card_number,price,lux)
                .card__down-info
                    +rate(card_number,rate_points)
                    p
                        span.card__response_quantity= response_quantity
                        span &nbsp;Отзывов
    
    else 
        .card__wrapper
            .card__img-slider
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
                .card__img-box
                    img(src=""+ path+ "", alt="photo")
            if arrows
                i(class="material-icons md-24 card__left-arr ") expand_more
                i(class="material-icons md-24 card__right-arr ") expand_more
            .card__info-box
                +card-up-info(card_number,price,lux)
                .card__down-info
                    +rate(card_number,rate_points)
                    p
                        span.card__response_quantity= response_quantity
                        span &nbsp;Отзывов
