mixin color_mode(color, colorText, opacity)
    li.color-box__item 
        .square(style= 'background:' + color +''+ ';'+'opacity:' + opacity)
        .color-box__text-box
            h2= colorText
            p= color

mixin font_mode(fontType, fontTypeClass, titleClass, fontExample)
    li.font-box__text-box
        span(class = titleClass)= fontType
        p(class=fontTypeClass)= fontExample
