@import '../../../../style/mixins.scss';

.impression-chart__wrapper {
    position: relative;
    width: 311px;
    height: 126px;
    margin: 0 4.4% 70px 0;
}

.room-details {
    &__img-wrapper {
        @include flex;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    
    &__img-wrap-1{
        width: 68.1%;
    }
    &__img-column {
        width: 31.9%;
    }

    &__describe-wrapper {
        @include flex($align: start);
        padding: 70px 140px 0;
    }

    &__info-wrapper {
        @include flex($align: start);
        max-width: 702px;
        padding-bottom: 70px;
        width: 100%;
    }

    &__benefit-wrapper {
        max-width: 291px;
    }
    &__response-wrapper {
        max-width: 100%;
        padding: 10px 0;
        .room-details__title-box {
            @include flex($align: baseline);
            padding-bottom: 9px;
        }
    }

    &__rules-wrapper {
        max-width: 240px;
        margin-left: 20px;
        h2 {
            padding-bottom: 13px;
        }
    }

    &__chancel-wrapper {
        max-width: 341px;
        h2 {
            padding-bottom: 18px;
        }
    }
    &__book-wrapper {
        position: relative;
        max-width: 100%;
    }
} 

.impression-chart__wrapper {
    span {
        font-weight: 700;
        font-size: 2.4rem;
        color: $primary-color;
        position: absolute;
        top: 82px;
        left: 31px;
        text-align: center;
        letter-spacing: 0.5px;
        i {
            font-weight: normal;
            font-size: 1.4rem;
            font-style: normal;
        }
    }
}

@media(max-width: 768px) {
    .room-details__describe-wrapper {
        padding: 50px 10px 0;
    }
    .room-details__img-wrap-1 {
        width: 100%;
    }
    .room-details__img-column {
        @include flex;
        width: 100%;
        .room-details__img-wrap-2,
        .room-details__img-wrap-3 {
            width: 50%;
        }
    }
}

@media(max-width: 380px) {
    .book-room__wrapper {
        @include card-380($padding: 0);
    }

    .impression-chart__wrapper {
        margin: 0 0 70px 0;
    }

    .book-room__price-box {
        .book-room__info-label {
            right: 53px;
        }
    } 
}
