include ../../mixins/cards_mixins.pug
include ../../mixins/main_mixins.pug

.book-room__wrapper
    +card-up-info(888, 9990, true)
    .form-elem__date-dropdown
        .form_elem__two-inputs-box
            +doubleInput("date Dropdown", false, "input__drop-text", "19.08.2019", "expand_more", "input__drop-first")
            +doubleInput("date Dropdown", false, "input__drop-numb", "23.08.2019", "expand_more", "input__drop-last")
    .form-elem__dropdown-wrapper.form-elem__dropdown-wrapper-guest
        +input("гости", "",  false,"3 гостя", "expand_more", "active")
        .form-elem__dropdown.form-elem__dropdown-guests
            +dropdown_extend_unit("взрослые", "adult", "2")
            +dropdown_extend_unit("дети", "children", "1")
            +dropdown_extend_unit("младенцы", "baby", "0")
            +input-action
    .book-room__price-box
        p
            span.book-room__day-price 9 990₽
            span ×
            span.book-room__days  4 суток
        p
            span.book-room__sum-result 39 960₽

    .book-room__price-box
        p
            span Сбор за услуги: 
            span.book-room__commission скидка 2 179₽ 
        p.book-room__info-label  &#9432;
        p
            span.book-room__commission-result 0₽

    .book-room__price-box
        p
            span.book-room__services Сбор за дополнительные услуги	
        p.book-room__info-label  &#9432;
        p
            span.book-room__services-result 300₽
        p.book-room__final-result
            span Итого
            span.book-room__final-sum 38 081₽


    button(class = "button__fill button__pay") забронировать
        i(class="material-icons md-24 ") arrow_forward