@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.log-in {
    &__wrapper {
        @include card-wrapper;
        padding: 43px 30px 32px;
        h2 {
            padding-bottom: 20px;
        }
    }
    &__create {
        @include flex;
        padding-top: 30px;
        p {
            color: $DarkShade100;
        }
    }
}

.input__wrapper {
    // padding: 25px 0;
    form:first-child {
        padding-bottom: 6px;
    }
}
