@import '../../../style/const.scss';
@import '../../../style/mixins.scss';

.log-in {
    &__wrapper {
        @include card-wrapper;
        width: 380px;
        padding: 43px 30px 32px;
        h2 {
            padding-bottom: 22px;
        }

        .button__go-in {
            width: 100%;
            margin: 22px 0 0 0;
        }
    }
    &__create {
        @include flex;
        padding-top: 32px;
        p {
            color: $DarkShade100;
        }
    }
}

.input__wrapper {
    form:first-child {
        padding-bottom: 10px;
    }
}

@media (max-width: 380px) {
    .log-in__create {
        justify-content: center;
    }
}
