block variables

block basicSeo

block title
        title UI kit

include mixins/main_mixins.pug

doctype html
html(lang='ru')
        head
                meta(charset="utf-8")
                meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
                +links("../ui_kit/color_type/dist/color_type.css", "../../style/dist/style.css")
                //- <link rel="stylesheet" href="./ui_kit/color_type/dist/color_type.css">
                //- <link rel="stylesheet" href="../style/dist/style.css">
        body
                +logo('../../assets/icons/logo.svg')
                block content


//- Footer
//- include pug/components/footer.pug


//- block scripts
//- block scripts