@import '../../../style/const.scss';
@import '../../../style/mixins.scss';
@import '../form_elem/actions.scss';

@mixin range-background($width: 16px) {
    content: '';
    position: absolute;
    right: 0px;
    width: $width;
    height: 40px;
    background-color: $primary-color-opacity;
    z-index: -1;
}

.calendar__wrapper,
.datepicker-inline {
    // min-width: 320px;
    background-color: #fff;
    border-radius: 4px;
}
.calendar__wrapper {
    max-width: 320px;
    border: 1px solid $DarkShade25;
    border-radius: 4px;
    box-shadow: $box-shadow;
}

.datepicker {
    width: 320px;
    padding: 20px 20px 23px 20px;
    margin: auto;
    border: none;
    box-sizing: border-box;
    .datepicker--pointer {
        display: none;
    }
}

.datepicker--cell.-range-from-.-range-to- {
    border-radius: 50%;
}
.datepicker--nav {
    align-items: flex-start;
    padding: 0 10px 0 0;
    border: none;
}

.datepicker--cells {
    padding-top: 7px;
}

.-focus- {
    border-radius: 50%!important;
}

.datepicker--days-names {
    text-transform: uppercase;
    margin: 0;
    padding: 16px 13px 0 2px;
}
.datepicker--nav-title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.316rem;
    text-align: center;
}

.datepicker--content {
    padding: 0;
    .datepicker--cells {
        .datepicker--cell-day {
            font-size: 1.2rem;
            width: 40px;
            height: 40px;
        }
    }
    .-selected- {
        @include gradient;
        border-radius: 50%;
        font-weight: 700;
        z-index: 2;
        &:hover {
            @include gradient;
        }
    }
    .-current- {
        @include gradient($secondary-color, $primary-lightblue);
        border-radius: 50%;
        color: #fff;
        font-weight: 700;
        z-index: 2;
    }
    .-in-range- {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 42px;
            height: 40px;
            background-color: $primary-color-opacity;
            z-index: -1;
        }
    }
    .-range-from- {
        &::before {
            @include range-background;
        }
        &::after {
            content: '';
            position: absolute;
            width: 66px;
            @include circle($width: 40px,$height: 40px);
            @include gradient;
            z-index: -1;
        } 
    }
    .-range-to- {
        &::before {
            @include range-background;
            left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            width: 66px;
            @include circle($width: 40px,$height: 40px);
            @include gradient;
            z-index: -1;
        } 
    }  
}

.datepicker--day-name {
    color: $primary-color;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.material-icons {
    color: $DarkShade50;
}

.form_elem__two-inputs-box {
    width: 100%;
    @include flex($wrap: 'no-wrap');

    .input__field {
        max-width: 150px;
    }
    .input__field::placeholder {
        color: $DarkShade75;
    }
    .input__text-box {
        position: relative;
        .material-icons {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}
