include ../../mixins/main_mixins.pug

mixin footer-list(title, ...rest)
    ul= title

block content 
    footer.footer__full-wrap
        .footer__container
            .footer__wrapper
                .footer__info-box
                    include ../colored_logo.pug
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__list-box
                    h3 навигация
                    each value in ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
                        a(href = "/#")= value
                .footer__list-box
                    h3 о нас
                    each value in ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
                        a(href = "/#")= value
                .footer__list-box
                    h3 Служба поддержки
                    each value in ['Соглашения', 'Сообщества', 'Связь с нами']
                        a(href = "/#")= value
                .footer__list-box
                    h3 Подписка
                    p Получайте специальные предложения и новости сервиса
                    .form-elem__email-subscribe
                        +input(false, false , false, "Email", "arrow_forward")

            .footer__down-wrapper
                p Copyright © 2018 Toxin отель. Все права зачищены.
                +links-icon 
