@import '../../../../style/style.scss';
@import '../../../components/header.scss';
@import '../form_elem/form_elem.scss';

.header-and-footer-wrapper {
    @include flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 1350px;
    padding: 140px 0;
    background-color: $colored-back;
}
