// @import '../../../../style/const.scss';
// @import '../../../../style/style.scss';
@import '../../../../style/mixins';
// @import '../../../components/buttons/buttons.scss';
// @import '../../../components/buttons/toggle.scss';
// @import '../../../components/buttons/radio.scss';
// @import '../../../components/buttons/pagination.scss';
// @import '../../../components/rate/rate.scss';
// @import '../../../components/range/range.scss';
// @import '../../../components/form_elem/actions.scss';
// @import '../../../components/inputs/input.scss';
// @import '../../../components/inputs/dropdown.scss';
// @import '../../../components/inputs/date_drop.scss';

.kit-main {
    @include flex;
}

// input

.form-elem__wrapper {
    @include flex($align: flex-start);
    padding: 144px 141px 131px;
    form .active {
        @include input-active();
        border-radius: 4px 4px 0 0 ;
    }
    form {
        .material-icons {
            top: 30px;
        }
    }
    

    .form-elem {
        &__small {
            position: relative;
            width: 266px;
            form {
                width: 100%;
                padding: 20px 0;
            }
            .form-elem__dropdown {
                width: 100%;
            }
        }
    }



    .form-elem__input-simple {
        form {
            padding-bottom: 20px;
        }
    }
}

form {
    padding-bottom: 19.56px; // TODO inspect a page about form padding
}

// dropdown



.dropdown-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 64px 0 0 0;
}

// checkbox

.form-elem{
    &__checkbox-wrapper {
        padding-left: 53px;
        & > div {
            padding-bottom: 30px;
        }
        h3 {
            padding-bottom: 16.56px;
        }
        .checkbox {
            &__box {
                @include flex($justify: start, $wrap: nowrap, $align: flex-start);
                padding-bottom: 11px;
                max-width: 222px;
                &:last-child {
                    padding-bottom: 0;
                }
                span {
                    line-height: 1.8rem;
                }
            }
        }
    }
    &__custom-checkbox {
        display: none;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            padding-right: 9.74px;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border: 1px solid $DarkShade25;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        &:checked+label::before {
            border: 1px solid $primary-color;
            // background-image: url("../../../../../assets/icons/check.svg");
          }
    }


}

// like 

.like {
    &__wrapper {
        @include flex;
        width: 90px;
    }
    &__box {
        @include flex($justify: space-around, $wrap: nowrap);
        @include cursor-style;
        position: relative;
        min-width: 40px;
        height: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        background: #fff;
        background-clip: padding-box;
        border: solid 1px transparent;
        &:before {
            // @include gradient;
            content: '';
            position: absolute;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: 0;
            z-index: -1;
            margin: -1px;
            border-radius: inherit;
          }
        span {
            font-size: 1rem;
            line-height: 0;
        }
    }

    &__with {
        &:before {
            @include gradient;
          }
        i {
        color: $primary-color;
        font-size: 1rem;
        }
    }
    
    &__without {
        &:before {
            background: $DarkShade25;
            }
        i {
            color: $DarkShade25;
            font-size: 1rem;
        }
    }
}

// rate 

.form-elem__button-wrapper {
    min-width: 320px;
}

// expandable

.expandable{
    &__wrapper {
        h3 {
            line-height: 1.5rem;
        }
        &:hover,
        &:focus {
            @include expand;
        }
    }
    &__wrapper-needs {
        padding-top: 48px;
    }
    &__title {
        @include flex($align: start);
        width: 256px;
        i {
            line-height: 17px;
        }
    }
    &__title .active {
        i {
            transform: rotate(180deg);
        }
    }
    &__list-box {
        padding-top: 9px;
    }
    &__list-item {
        @include flex($justify: start);
        padding: 5px 0;
        line-height: 1.5rem;
    }
}

// rich 

.rich-list {
    &__wrapper {
        width: 255px;
        padding-left: 52px;
    }
    &__box {
        padding-top: 15px;
    }
    &__item {
        @include flex($align: flex-start, $wrap: nowrap);
        padding: 0 0 10px 0;
    }
    &__text-box {
        span {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
    &__title {
        font-weight: 700;
        color: $DarkShade75;
    }
}

// bullet

.bullet-list{
    &___wrapper {
        max-width: 255px;
        ul {
            padding: 0 0 0 20px;
            margin: 10px 0 0 0;
        }
    }
    &__item{
        position: relative;
        list-style: none;
        padding: 5px 0;
        &:before {
            @include circle($width: 10px, $height: 10px);
            background-color: $DarkShade25;
            top: 11px;
            left: -19px;
        }
    }
}

.benefits-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 97px 0 0 0;
}

.benefits {
    &__wrapper {
        padding-bottom: 30px;
    }
    &__box {
        @include flex($justify: start);
        width: 291px;
        padding:0 0 21px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        &:nth-child(n+2) {
            padding:20px 0 17px;
        }
        p {
            width: 100%;
            font-weight: 700;
        }
        i {
            @include gradient;
            -webkit-background-clip: text;
            color: transparent;
            width: 48px;
            font-size: 4.8rem;
            height: 100%;
            text-align: center;
            padding-right: 10px;
        }
    }
}

//response 

.response {
    &__wrapper {
        max-width: 711px;
    }
    &__user-textbox {
        @include flex($justify: start, $align: flex-start, $wrap: nowrap);
        padding: 8px 0 0 3px;
        p {
            padding-left: 14.3px;
        }
    }
    &__user-box {
        @include flex($justify: start, $wrap: nowrap);
        height: 51px;
        padding: 10px 0 0 0;
    }
    &__user-info {
        padding-left: 10px;
        p {
            font-weight: 700;
        }
    }
}

// photo center

.ava__container {
    position: relative;
    height: 0px;
    width: 48px;
    padding-top: 48px;
    border-radius: 50%;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
