@import '../../../../style/const.scss';
@import '../../../../style/style.scss';
@import '../../../../style/mixins';
// @import '../../../components/buttons/buttons.scss';
// @import '../../../components/buttons/toggle.scss';
// @import '../../../components/buttons/radio.scss';
// @import '../../../components/buttons/pagination.scss';
// @import '../../../components/rate/rate.scss';
// @import '../../../components/range/range.scss';
// @import '../../../components/form_elem/actions.scss';
// @import '../../../components/inputs/input.scss';
// @import '../../../components/inputs/dropdown.scss';
// @import '../../../components/inputs/date_drop.scss';

.kit-main {
    @include flex;
}

.form-elem__wrapper {
    @include flex($align: flex-start);
    padding: 144px 141px 131px;
    form .active {
        @include input-active();
        border-radius: 4px 4px 0 0 ;
    }
    form {
        .material-icons {
            top: 30px;
        }
    }

    .form-elem {
        &__small {
            position: relative;
            width: 266px;
            form {
                width: 100%;
                padding: 20px 0;
            }
            .form-elem__dropdown {
                width: 100%;
            }
        }
    }

    .form-elem__input-simple {
        form {
            padding-bottom: 20px;
        }
    }
}

form {
    padding-bottom: 19.56px; // TODO inspect a page about form padding
}

// dropdown

.dropdown-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 64px 0 0 0;
}

.form-elem__button-wrapper {
    min-width: 320px;
}

.benefits-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 97px 0 0 0;
}
