@import '../../../../style/const.scss';
@import '../../../../style/style.scss';
@import '../../../../style/mixins';

.kit-main {
    @include flex;
}

.form-elem__wrapper {
    @include flex($align: flex-start);
    padding: 144px 141px 131px;
    form .active {
        @include input-active();
        border-radius: 4px 4px 0 0 ;
    }
    form {
        .material-icons {
            top: 30px;
        }
    }

    .form-elem {
        &__small {
            position: relative;
            max-width: 266px;
            form {
                width: 100%;
                padding: 42px 0 0 0;
            }
            .form-elem__dropdown {
                width: 100%;
            }
        }
    }

    .form-elem__input-simple {
        form {
            padding-bottom: 20px;
        }
    }
}

// dropdown

.dropdown-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 80px 0 0 0;
}

.form-elem__button-wrapper {
    min-width: 320px;
}

.benefits-section {
    @include flex($align: flex-start);
    width: 100%;
    padding: 97px 0 0 0;
}
